button.burger(type="button", 
		aria-label="Burger menu button",
		aria-expanded="false",
	) 
	span.burger__line.burger__line--top(aria-hidden="true")
	span.burger__line.burger__line--middle(aria-hidden="true")
	span.burger__line.burger__line--bottom(aria-hidden="true")