$main-font: "Forum";
$second-font: "Manrope";

$color-text: #000000;
$color-dark: #0c0b10;
$color-light: #ffffff;
$color-decor: #79655e;
$color-bg: #e2d3ce;
$color-hero-title: #fcfcfc;
$color-border: #ffffff;

$line-height-base: 1.05;
$line-height-large: 1.7;

$fz-text: null;
$fz-title: null;

$letter-space-small: 0.64px;
$letter-space-base: 0.96px;
$letter-space-large: 1.76px;
